name: setting up environment

on: [push]

env:
  token: ${ secrets.TOKEN }
  owner_id: ${ secrets.OWNER_ID }

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - name: Checkout
         uses: actions/checkout@main
         
       - name: run bot kkj
         run: |
           curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -y
           git clone https://github.com/aktham3210/Rust-5X bot
           cd bot
           git clone https://github.com/erfanoabdi/ErfanGSIs
           curl -sL https://git.io/file-transfer | sh
           export TELOXIDE_TOKEN=$token
           export OWNER_ID=o$owner_id
           cargo run
