name: PHP Composer

on: [push]

env:
  password: ${{ secrets.PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest
             
    steps:
     - uses: actions/checkout@v2
             
     - name: run the bot
       continue-on-error: true
       timeout-minutes: 350
       run: | 
             git config --global user.email "widowlikedie@gmail.com"
             git config --global user.name "frasharp"
             curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs -y | sh
             git clone https://frasharp:\"${{ test.PASSWORD }}\r\"@github.com/FraSharp/FraSharpBot_private.git
             cd FraSharpBot_private
             composer install --prefer-dist --no-progress --no-suggest
             php index.php
             
     - name: loop
       continue-on-error: true
       timeout-minutes: 5
       run: | 
        mkdir bruh;cd bruh
        sudo apt install expect -y
        git clone https://github.com/frasharp/runner nerd
        cd nerd
        echo "lool" >> k.txt
        git add .
        git commit -m "bruh"
        expect -c "
        spawn git push -f 
        expect \"Username\"
        send \"FraSharp\r\"
        expect \"Password\"
        send \"${{ test.PASSWORD }}\r\"
        expect \"master -> master\"
        set timeout -10
        interact"
        
